---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Carousel from "../components/Carousel.astro";
import Footer from "../components/Footer.astro";
import parametres from "../content/parametres/index.json";
---

<Layout title={parametres.nom_site} description={parametres.description_site}>
  <Header />
  <main style="padding-top: var(--nav-h);">
    <Carousel />
  </main>
  <Footer fixed />
</Layout>
